// Colors

$clr-bg-Jagged-Ice : #C5E4E7;
$clr-bg-White: #FFFFFF;
$clr-bg-Black-Squeeze: #F3F9FA;
$clr-bg-Sherpa-Blue: #00474B;
$clr-bg-Java: #26C2AE;
$clr-bg-Atoll: #0D686D;
$clr-bg-Water-Leaf: #9FE8DF;

$clr-txt-Cutty-Sark: #5E7A7D;
$clr-txt-Sherpa-Blue: #00474B;
$clr-txt-White: #FFFFFF;
$clr-txt-Java: #26C2AE;
$clr-txt-Granny-Smith: #7F9D9F;

$clr-border-Java: #26C2AE;
$clr-border-Terracotta: #E17052;